<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <title>登入 / 註冊</title>
</head>
<body>

<h2 id="form-title">登入</h2>

<form id="login-form" action="/login" method="post">
  <label for="login-username">使用者名稱：</label><br>
  <input type="text" id="login-username" name="username" required><br><br>

<label for="login-email">Email：</label><br>
<input type="email" id="login-email" name="email" required><br><br>

  <label for="login-password">密碼：</label><br>
  <input type="password" id="login-password" name="password" required><br><br>

  <input type="submit" value="登入" name="login">
</form>

    <div id="error">
        {% if message %}
            <h2>message:</h2>
            
            <pre>{{ message }}</pre>
           
        {% endif %}
    </div>

<br>
<p>
  <span id="toggle-msg">還沒有帳號？</span>
   <a href="{{ url_for('register_page') }}"><h2>註冊</h2></a>
</p>

</body>
</html>
