<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <pre>{{ descriptions[0] }}</pre>

    <h2>Write your SQL here:</h2>
    <form method="post" action="/run_sql">
        <input type="hidden" name="description" value="{{ descriptions[0] }}">
        <textarea name="sql_code" rows="5" cols="60"></textarea>
        <br>
        <button type="submit" name="action" value="run" >Run</button>

        <div id="correct">
            {% if hint and correct == "True"%}
                <h3>Result:</h3>
                
                <pre>{{ "Correct" }}</pre>
                <pre>{{ hint }}</pre>
                <input type="hidden" name="hint" value="{{ hint }}">
            
            {% endif %}
        </div>
            <div id="wrong">
            {% if hint and wrong == "True"%}
                <h3>Result:</h3>
                
                <pre>{{ "Wrong" }}</pre>
                <pre>{{ hint }}</pre>
                <input type="hidden" name="hint" value="{{ hint }}">
            
            {% endif %}
        </div>
    </form>
    <p><a href="/index">Back to list</a></p>
</body>
</html>