<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <pre>{{ descriptions[0] }}</pre>

    <h2>Write your SQL here:</h2>
    <form method="post" action="/run_sql">
        <input type="hidden" name="description" value="{{ descriptions[0] }}">
        <textarea name="sql_code" rows="5" cols="60"></textarea>
        <br>
        <button type="submit" name="action" value="run" >Run</button>
    </form>

    <div id="result">
        {% if result %}
            <h3>Result:</h3>
            
            <pre>{{ result }}</pre>
           
        {% endif %}
    </div>
</div>
    <p><a href="/">Back to list</a></p>
</body>
</html>